body{
    background-image:url("../img/backgroud.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
    font-family: "Gill Sans", sans-serif;
    margin: 0;
    padding: 0;
    
    
}
#presentation_perso{
   
   margin-top: 0;
   padding-bottom: 100px;
   height: 600px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-size: calc(12px + 0.8vw);    
}
nav h3{
    font-size: calc(15px + 1.2vw);  
}
li{
    list-style: none; 
    transition: transform .2s ease;   
}
li:hover{
    transform: scale(1.08);
}
a,
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none; 
    transition: transform .5s ease; 
}
a:hover{
    transform: scale(1.08);
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 0;
}
#icons {
    cursor: pointer;
    display: none;
}

h1{
    font-size: calc(25px + 2vw);
}
.title-container{
    text-align: center;
    padding-top: 50px;
    
}

#presentation_perso{
    height: auto;
    padding: 0;
}
.presentation_container{
    display: flex;
    justify-content: space-around;
    margin: 80px auto;
    width: 80%;
}
.presentation{
    font-size: 20px;
    margin: auto;
    width: 50%;
       
}
.profil_photo{
    margin: auto;
}


.photo img{
    border-radius: 20%;
    border: 1px solid black;
    -webkit-filter: grayscale(50%);
            filter: grayscale();
    width: 280px;
    height: 350px;
}


.competence_container{
    display: flex;
    justify-content: space-between;
    
}
.img_competence{
    width: 650px;
    height: auto;
    background-size: cover;
    background-image: url("../img/comp.jpg");
    border-radius: 10%;
    margin-left: 30px;
}
.barre_competence{
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    
    
}
.title_competence{
    font-size: calc(15px + 0.8vw);
    text-align: center;
    
}
.title_competence h2{
   margin-bottom: 20px;
    
}
.text_barre{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    
}
.title_barres{
    margin:  10px 0 10px 100px;
    width: 80%;
    background: white;
    box-shadow: inset -15px -15px 15px 0px rgb(211, 211, 211);
    border-radius: 25px;
    

}
.html{
    background-color: #fa7d85;
    width: 70%; 
    border-radius: 0 25px 25px 0;   
}
.css{
    background-color: #8181e6;
    width: 70%;
    border-radius: 0 25px 25px 0;
}
.javascript{
    background-color: #84fac1;
    width: 50%;
    border-radius: 0 25px 25px 0;
}
.react{
    background-color: #f0e453;
    width: 50%;
    border-radius: 0 25px 25px 0;
}
.node{
    background-color: #ff9570;
    width: 40%;
    border-radius: 0 25px 25px 0;
}
.express{
    background-color: rgb(13, 185, 197);
    width: 40%;
    border-radius: 0 25px 25px 0;
}


.portfolio_title{
    padding-top: 40px;
    margin-top: 40px;
    font-size: calc(18px + 1.6vw);
    text-align: center;
}
.portfolio_p{
    font-size: 20px;
    text-align: center;
    
}
.portfolio_projet{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: auto;
    padding: 20px 0 30px 0;
    
}
.portfolio_exemple{
    width: 280px;
    height: 250px;
    background-color: rgb(211, 211, 211);
    border: 2px solid black;
    border-radius: 20px; 
    margin-top: 20px;  
}


.portfolio_img{
    height: 55%;
    background-image: url(/img/booki.jpg);
    border-radius: 20px 20px 0 0;
}

.portfolio_img1{
    height: 55%;
    background-image: url(/img/ohmyfood.jpg);
    border-radius: 20px 20px 0 0;
}
.portfolio_img2{
    height: 55%;
    background-image: url(/img/canap.jpg);
    border-radius: 20px 20px 0 0;
}
.portfolio_img3{
    height: 55%;
    background-image: url(/img/piiquante.jpg);
    border-radius: 20px 20px 0 0;
}
.portfolio_img4{
    height: 55%;
    background-image: url(/img/kasa.jpg);
    border-radius: 20px 20px 0 0;
}
.portfolio_legend{
    height: 45%;
    font-size: 20px;
    text-align: center;   
}
.portfolio_legend p{
    padding: 20px 10px 0 10px;
    margin: 0;  
}
.portfolio_legend i{
    display: none;  
}
.hover{
    background:radial-gradient(circle, rgb(255, 255, 255) 3%, rgba(132,250,193,1) 100%);
    transition: 0.7s;
    transform: scale(1.08);
}
.hover .portfolio_legend i{
    display: block;
    padding-top: 30px;
    font-size: 35px;    
}
.hover .portfolio_legend p {
    display: none;
}
#cv{
    margin-bottom: 40px;
}
.cv_container{
    display: flex;
    justify-content: center;
}
.contact_cv{
    display: flex;
    justify-content: center;
    
}
.contact_cv i{
    display: none;
    
}
.hovercv .contact_cv i{
    display: block;
    margin:20px;
    
}
.contact_cv p{
    margin: auto;
}
.hovercv .contact_cv p{
    display: none;
}
.hovercv .contact_cv a{
    background:radial-gradient(circle, rgb(255, 255, 255) 3%, rgba(132,250,193,1) 100%);
    transition: 0.7s;
}

.contact_cv a {
    height: auto;
    font-size: calc(12px + 0.8vw);
    border: 1px solid black;
    margin: auto 80px auto ;
    padding: 8px;
    border-radius: 25px;
    background-color:rgb(211, 211, 211) ;  
}
.cv_title{
    font-size: calc(15px + 0.6vw);
    text-align: center;
    margin-bottom: 40px;
}

footer{
    height: 250px;
    margin-bottom: 40px;
}
.title_footer{
    font-size: calc(15px + 0.6vw);
    text-align: center;
    
}
.title_footer h2 {
    margin: 0 0 20px 0;
}

.contact_adress{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.contact{
    display:flex;
    width: auto;
    
}
.contact p{
    font-size: calc(15px + 0.8vw);
}
.contact i {
    margin: auto;
    padding-right: 25px;
    font-size: 25px;
}



