@media screen and (max-width: 1100px){
    .presentation_container{
        display: flex;
        flex-direction: column-reverse;  
    } 
    .presentation{
        padding: 0;
        width: auto;
    }   
}
@media screen and (max-width: 939px) {
   
    #nav{
        display: flex;
        justify-content: space-between;
    }
    #icons{
        display: block;
    }
    #icons:before{
        content:"\2630"
    }
    nav ul{
        position: fixed;
        left: -100%;
        top: 5%;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.25;
    }
    nav li {
        padding: 3px 0;
    }
    nav li:hover{
        background: #84fac1;
    }
    .active #icons:before{
        content:"\2715"
    }
    nav.active ul{
        left: 0;
    }
    .main_menu{
        display: flex;
        justify-content: center;
        width: auto;
    }
    .presentation_container{
        margin: auto;
        height: auto;
        
    }
    .presentation{
        padding: 0;
        width: auto;
    }
    .profil_photo{
        padding-top: 40px;
        
    }
    .competence_container{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    .barre_competence{
        width: 100%;
        
    }
    .title_barres{
        margin: auto auto 15px auto;
    }
    .title_competence{
        margin-bottom: 20px;
    }
    .img_competence{
        height: 250px;
        width: auto;
        margin: 0;
        border-radius: 0;
    }
    .portfolio_title{
        padding: 0;
    }
    .contact_cv{
        display: flex;
        justify-content: center;
        flex-direction: column;
          
    }
    .cv_title{
        margin: 0;
    }
    .contact_cv a {
        display: flex;
        justify-content: center;
        margin: auto auto 50px auto;
        width: auto;
    }
    .contact_cv img{
        width: 350px;
        height: 250px;
        margin: auto;
    }
    .contact_container{
        display: flex;
        justify-content: first baseline;
        
        
    }
    .contact_adress{
        display: flex;
        flex-direction: column;
    } 
    .contact_adress{
        margin: auto939;
    }
    .contact i {
        margin: 30px 0 0 40px;
    }
}