body{
    background-image:url("../img/backgroud.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
    font-family: "Gill Sans", sans-serif;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
#presentation_perso{
   
   margin-top: 0;
   padding-bottom: 100px;
   height: 600px;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.link_navbar{
    margin: auto 0 auto 0;
    
}

.logo{
    font-size: 40px;
    margin-left: 150px;
}
.main_menu{
    display: flex;
    font-size: 25px;
    list-style: none; 
    padding: auto;
}
.main_menu li{
    padding-right:50px; 
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 55px;
}
.title-container{
    text-align: center;
    padding-top: 50px;
    
}
.title-container p{
    font-size: 35px;
}
#presentation_perso{
    height: auto;
    padding: 0;
}
.presentation_container{
    display: flex;
    justify-content: space-around;
    margin: 80px auto;
    width: 80%;
}
.presentation{
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 50%;
       
}
.profil_photo{
    margin: auto;
}


.photo img{
    border-radius: 20%;
    border: 1px solid black;
    -webkit-filter: grayscale(50%);
            filter: grayscale();
    width: 280px;
    height: 350px;
}


.competence_container{
    display: flex;
    justify-content: space-between;
    
}
.img_competence{
    width: 650px;
    height: auto;
    background-size: cover;
    background-image: url("../img/comp.jpg");
    border-radius: 10%;
    margin-left: 30px;
}
.barre_competence{
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    
    
}
.title_competence{
    font-size: 25px;
    text-align: center;
    
}
.title_competence h2{
   margin-bottom: 20px;
    
}
.text_barre{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    
}
.title_barres{
    margin:  10px 0 10px 100px;
    width: 80%;
    background-color: rgb(211, 211, 211);
    border-radius: 25px;
    box-shadow: rgba(124, 124, 124, 0.45) 0px 15px 20px -15px;

}
.html{
    background-color: #fa7d85;
    width: 70%;    
}
.css{
    background-color: #8181e6;
    width: 70%;
}
.javascript{
    background-color: #84fac1;
    width: 50%;
}
.react{
    background-color: #f0e453;
    width: 50%;
}
.node{
    background-color: #ff9570;
    width: 40%;
}
.express{
    background-color: rgb(13, 185, 197);
    width: 40%;
}


.portfolio_title{
    padding-top: 40px;
    margin-top: 40px;
    font-size: 38px;
    text-align: center;
}
.portfolio_p{
    font-size: 20px;
    text-align: center;
    
}
.portfolio_projet{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
    padding: 20px 0 30px 0;
    
}
.portfolio_exemple{
    width: 280px;
    background-color: rgb(211, 211, 211);
    border: 2px solid black;
    border-radius: 20px; 
    margin-top: 20px;
}
.portfolio_img{
       overflow: hidden;
       height: 60%;
       border-radius: 20px 20px 0 0;
}

.portfolio_legend{
    font-size: 20px;
    text-align: center;
    padding: 0 10px 10px 10px;
}
#cv{
    margin-bottom: 40px;
}
.contact_cv{
    display: flex;
    justify-content: center;
}
.contact_cv a {
    height: 30px;
    font-size: 25px;
    border: 1px solid black;
    margin: 100px 50px;
    padding: 8px;
    border-radius: 25px;
    background-color:rgb(211, 211, 211) ;  
}
.cv_title{
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
}

footer{
    margin-bottom: 40px;
}
.title_footer{
    font-size: 26px;
    text-align: center;
    
}
.title_footer h2 {
    margin: 0 0 20px 0;
}

.contact_adress{
    display: flex;
    justify-content: space-around;
}
.contact{
    display:flex;
    width: auto;
}
.contact p{
    font-size: 25px;
}
.contact i {
    margin: auto;
    padding-right: 25px;
    font-size: 25px;
}
