@media screen and (max-width: 1100px){
    .presentation_container{
        display: flex;
        flex-direction: column-reverse;  
    } 
    .presentation{
        padding: 0;
        width: auto;
    }   
}
@media screen and (max-width: 939px) {
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .logo{
      margin: auto;  
    }
    .main_menu{
        display: flex;
        justify-content: center;
    }
    .presentation_container{
        margin: auto;
        height: auto;
        
    }
    .presentation{
        padding: 0;
        width: auto;
    }
    .profil_photo{
        padding-top: 40px;
        
    }
    .competence_container{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    .barre_competence{
        width: 100%;
        
    }
    .title_barres{
        margin: auto auto 15px auto;
    }
    .img_competence{
        height: 250px;
        width: auto;
        margin: 0;
        border-radius: 0;
    }
    .portfolio_title{
        padding: 0;
    }
}
